<h1><%=@routine.name%></h1>

Start Time: <%=Routine.convert_from_24(@routine.start_time)%> <br>
End Time: <%=Routine.convert_from_24(@routine.end_time)%> <br>
<br>
<br>
Tasks:
<br><br>
<%@routine.tasks.all.each do |task|%>
<li><%=link_to(task.name, task_path(task))%> </li>
<%end%>
<br>
<br>

<%if !current_user.routines.include?(@routine)%>
  <%=link_to("Add this routine to your routines", user_add_path(@routine))%>
<%else%>
  You already have this routine!
<%end%>

<br>
<br>

<%if current_user.id == @routine.originator_id%>
  <%= link_to('Edit this routine', edit_user_routine_path(current_user, @routine)) %>
<%end%>
