<!DOCTYPE html>
<html>
  <head>
    <title>RoutineTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>


    <%if !session[:id].nil?%>
      ____________________________________________________________
      <br>
      <%= link_to('log-out', logout_path) %>
      <br>
    <%end%>
  </body>
</html>
