<!DOCTYPE html>
<html>
  <head>
    <title>RoutineTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>


    <%if !session[:id].nil? && !session[:id] != ""%>
      ____________________________________________________________
      <br>
      <%= link_to('log-out', logout_path) %> - - -
      <%= link_to('home', user_path(session[:id])) %> - - -
      <%= link_to('edit my profile', edit_user_path(session[:id])) %> - - -
      <%= link_to('my routines', user_my_routines_path(session[:id]))%> - - -
      <%= link_to('all routines', routines_path) %>
      <br>
    <%end%>
  </body>
</html>
